# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Android Studio/Gradle
*.apk
*.aab
*.ap_
*.dex

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Local configuration
local.properties

# Gradle
.gradle/
gradle/
*.keystore
*.jks

# Android Studio
/android/app/debug
/android/app/profile
/android/app/release
/android/.gradle/
/android/build/
captures/

# iOS
/ios/Pods/
/ios/.symlinks/
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/ios/Flutter/Generated.xcconfig
/ios/Flutter/app.flx
/ios/Flutter/app.zip
/ios/Flutter/flutter_assets/
/ios/ServiceDefinitions.json

# macOS
/.dart_tool/
/Flutter/ephemeral/

# Linux
/.flutter-plugins-dependencies
/.flutter-plugins

# Windows
Thumbs.db
